/instagram/dist/
/.idea
/instagram.iml
/.venv/
/FBScriptver.spec
/InstagramScriptver.spec
/dist/
/build/
/.workflow/
/ai.py
/bi.py
/pi.py
/Igver/instagram.json
/threads/threads.json
/threads/regeditfile.reg
